.search {
    display: flex;
    align-items: center;
}

.input {
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 50px;
}

.input-search {
    background: none !important;
    border: none !important;
    margin-left: -35px !important;
    height: 12px !important;
    color: bisque !important;
    width: 15px !important;
}

.navBar button {
    margin-inline: 10px;
    border-radius: 9px;
    background: darkmagenta;
}
