.unorderedList{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    flex-direction: column;
    gap: 10px;
} 

.image{
    border-radius: 13px;
    width: 300px
}

.recipe-button{
    min-inline-size: min-content;
}

.unorderedList button:hover{
    color: bisque;
    background-color: #9844b5;
}