.column-ingredients {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

.column{
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.recipeImage{
    margin-left: 3rem;
}

.recipeTitle{
    margin-left: 3rem;
}

.addToFavorite{
    margin-left: 3rem;
}

.ingredients-header{
    margin-right: 15rem;
}

.vegetarian{
    margin-left: 3rem;
}

.servings{
    margin-left: 3rem;
}

.column-summary{
    float: right;
    width: 50%;
}

.summary{
    margin: 60px;
    margin-top: 1px;
}

.instructions{
    margin: 60px;
    margin-top: 1px
}

.summary-header{
    margin: 60px;
    margin-bottom: 1px;
}

.instructions-header{
    margin: 60px;
    margin-bottom: 1px;
}