.column-ingredients {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

.column{
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.recipeImage{
    margin-left: 3rem;
    border-radius: 20px;
    border: solid rgb(152, 68, 181);
}

.recipeTitle{
    margin-left: 3rem;
}

.add-to-favorite{
    margin: 0.5rem;
    margin-left: 3rem;
}

.ingredients-header{
    margin-right: 15rem;
}

.vegetarian{
    margin: 1rem;
    margin-left: 3rem;
    font-size: 25px;
}

.servings{
    margin: 1rem;
    margin-left: 3rem;
    font-size: 25px;
}

.column-summary{
    float: right;
    width: 50%;
}

.summary{
    margin: 60px;
    margin-top: 1px;
}

.instructions{
    margin: 60px;
    margin-top: 1px
}

.summary-header{
    margin: 60px;
    margin-bottom: 1px;
}

.instructions-header{
    margin: 60px;
    margin-bottom: 1px;
}

.remove-from-favorite{
    margin-left: 3rem;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  