.shopping-button{
    margin-top: 0;
    border-color: bisque;
}

.ingredient{
    margin-inline: 110px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 350px;
    height: 108px;
    border: solid;
}

.ingredient-name{
    margin: 5px;
}

.ingredient-amount{
    margin: 5px;
}